* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Background Colors */
    --bg-primary-color: #0c0c0c;


    /* Text Colors */
    --text-primary-color: #f0f0f0;


    /* Spacing Variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;


    /* Border color */
    --primary-border-color: #333333;


    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;

}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    width: 100%;
    height: 100%;
}

.infos {
    display: flex;
    justify-content: space-between;
    padding: var(--space-2xl);
}

.info {
    border: 1px solid var(--primary-border-color);
    border-radius: var(--border-radius-md);
}

section {
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
}

.board {
    border: 2px solid white;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
    border: 1px solid white;
}

.fill{
    background-color: aqua;
}

.snakeFood {
    background-color: azure;
}